$neon-green-0: #39FF14;
$neon-fufuchsia-0: #FE59C2;
$neon-pink-0: #FE019A;
$neon-blue-0-0: #04D9FF;
$neon-blue-0-1: #5555FF;
$neon-violet-0: #BC13FE;
$neon-red-0: #FF073A;
$neon-luminous-red-0: #F80000;
$neon-luminous-orange-0: #FFA420;
$neon-carrot-0: #FFA343;
$neon-yellow-0: #E0E722;
$neon-laser-laim-0: #FEFE22;
$neon-liquid-neon-0: #C8FF00;
$neon-electric-0: #7DF9FF;

$margin-right-1-0: 5px;
$margin-bottom-1-0: 5px;
$margin-top-1-0: 5px;
$single-form-input: 600px;

$text-size-0: 15px;
$text-size-1: 25px;
$text-size-2: 35px;

.text-neon-orange{
    color: $neon-orange-0;
}

.text-neon-yellow{
    color: $neon-yellow-0;
}

.text-small{
    font-size: $text-size-0;
}

.text-medium{
    font-size: $text-size-1;
}

.text-large{
    font-size: $text-size-2;
}