@import './colors_params.scss';

.back-color-neon-red{
    background-color: $neon-luminous-red-0;
}

.back-color-neon-blue{
    background-color: $neon-blue-0-1;
}

.back-color-neon-green{
    background-color: $neon-green-0;
}