// css-модуль для кнопок

.del-prod-btn{
    display: flex;
    justify-content: start;
    margin-left: 10px;
    margin-bottom: 10px;
}

.add-btn {
    width: $single-form-input;
    height: 60px;
    margin-top: $margin-top-1-0;
}

// для мобильных устройств
@media (max-width: 415px){
    .add-btn {
        width: 300px;
        height: 60px;
        margin-top: $margin-top-1-0;
    }
}