@import './colors_params.scss';

.color-neon-yellow{
    color: $neon-yellow-0;
}

.color-neon-liquid{
    color: $neon-liquid-neon-0;
}

.color-neon-laim{
    color: $neon-laser-laim-0;
}

.color-neon-orange{
    color: $neon-luminous-orange-0;
}

.color-pale-red{
    color: $pale-red;
}

.color-neon-red{
    color: $neon-red-0;
}