$margin-bottom-1-0: 5px;
$margin-bottom-2-0: 15px;
$margin-bottom-4-0: 35px;
$margin-bottom-7-0: 70px;

.margin-bottom-5{
    margin-top: $margin-bottom-1-0;
}

.margin-bottom-35{
    margin-top: $margin-bottom-4-0;
}

.margin-bottom-70{
    margin-top: $margin-bottom-7-0;
}