$neon-green-0: #39FF14;
$neon-fufuchsia-0: #FE59C2;
$neon-pink-0: #FE019A;
$neon-blue-0-0: #04D9FF;
$neon-blue-0-1: #5555FF;
$neon-violet-0: #BC13FE;
$neon-red-0: #FF073A;
$neon-luminous-red-0: #F80000;
$neon-luminous-orange-0: #FFA420;
$neon-carrot-0: #FFA343;
$neon-yellow-0: #E0E722;
$neon-laser-laim-0: #FEFE22;
$neon-liquid-neon-0: #C8FF00;
$neon-electric-0: #7DF9FF;

$pale-red: #FFA6B0;

$margin-right-1-0: 5px;
$margin-left-1-0: 5px;
$margin-left-2-0: 15px;
$margin-left-4-0: 35px;

$margin-bottom-1-0: 5px;
$margin-bottom-2-0: 15px;
$margin-bottom-4-0: 35px;
$margin-bottom-7-0: 70px;

$margin-top-1-0: 5px;
$margin-top-2-0: 15px;
$margin-top-3-0: 25px;
$margin-top-4-0: 35px;

$width-300: 305px;
$width-rec-list: 350px;
$width-700: 700px;

$height-rec-card: 328px;

$width-50-pers: 50%;
$width-70-pers: 70%;
$width-30-pers: 30%;

$single-form-input: 600px;

$text-size-0: 15px;
$text-size-1: 25px;
$text-size-2: 35px;

$w-screen-mobile: 360px;
$w-screen-standart: 1920px;

.text-medium{
    font-size: 24px;
}

.width-rec-list {
    width: $width-rec-list;
}

.color-neon-yellow{
    color: $neon-yellow-0;
}

.color-neon-liquid{
    color: $neon-liquid-neon-0;
}

.color-neon-laim{
    color: $neon-laser-laim-0;
}

.table-row-main{
    display: flex;
    justify-content: space-between;
}

.width-rec-card{
    width: 750px;
}

.height-rec-card{
    min-height: 320px;
}

.height-rec-list-item{
    min-height: 60px;
}

.table-list-row{
    display: flex;
    justify-content: space-between;
}

.width-70-pers{
    width: $width-70-pers;
}

.width-30-pers{
    width: $width-70-pers;
}

.width-table-persons{
    width: 600px;
}

.width-td-left{
    width: 400px;
}

.width-td-right{
    width: 200px;
}

.table-rec-list{
    justify-content: end;
}

.del-prod-btn{
    display: flex;
    justify-content: start;
    margin-left: 10px;
    margin-bottom: 10px;
}

.input-field {
    width: 180px;
    margin: 0;
    margin-top: 0;
    padding-top: 0;
  }

.width-subtitle-inpLbl {
    width: 130px;
}

.width-title-inpLbl {
    width: 250px;
}

.form-main{
    margin-top: $margin-top-1-0;
    width: 600px;
    height: 80px;
}

.name-input {
    width: $single-form-input;
}

.add-btn {
    width: $single-form-input;
    height: 60px;
    margin-top: $margin-top-1-0;
  }

.width-prod-form{
    width: $width-rec-list;
}

.margin-top-5{
    margin-top: $margin-top-1-0;
}

.margin-top-15{
    margin-top: $margin-top-2-0;
}

.margin-top-25{
    margin-top: $margin-top-3-0;
}

.margin-top-35{
    margin-top: $margin-top-4-0;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

@media (max-width: 415px){
    .text-medium{
        font-size: 18px;
    }

    .width-rec-card{
        width: 320px;
    }
    
    .height-rec-card{
        min-height: 450px;
    }
 
    .table-row{
        display: flex;
        flex-direction: column;
    }

    .table-row-main{
        display: flex;
        flex-direction: column;
    }

    .table-list-row{
        display: flex;
        flex-direction: column;
    }

    .width-70-pers{
        width: 50%;
    }
    
    .width-30-pers{
        width: 100%;
    }

    .table-rec-list{
        justify-content: center;
    }

    .margin-inpLbl-div{
        margin-top: 30px;
    }

    .width-subtitle-inpLbl {
        width: 100px;
    }

    .width-title-inpLbl {
        width: 150px;
    }

    .width-table-persons{
        width: 300px;
    }

    .width-td-left{
        width: 200px;
    }
    
    .width-td-right{
        width: 100px;
    }

    .form-main{
        margin-top: $margin-top-1-0;
        width: 300px;
        height: 80px;
    }

    .name-input {
        width: 300px;
    }

    .add-btn{
        width: 300px;
    }

    .add-btn {
        width: 300px;
        height: 60px;
        margin-top: $margin-top-1-0;
    }

    .input-field {
        width: 140px;
        margin: 0;
        margin-top: 0;
        padding-top: 0;
    }

    .width-prod-form{
        width: 320px;
    }

    .margin-top-5{
        margin-top: $margin-top-1-0;
    }
    
    .margin-top-15{
        margin-top: 5px;
    }
    
    .margin-top-25{
        margin-top: $margin-top-3-0;
    }
    
    .margin-top-35{
        margin-top: $margin-top-4-0;
    }
}

.margin-right-5{
    margin-right: $margin-right-1-0;
}

.margin-left-5{
    margin-left: $margin-left-1-0;
}

.margin-left-15{
    margin-left: $margin-left-2-0;
}

.margin-left-35{
    margin-right: $margin-left-4-0;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-bottom-5{
    margin-top: $margin-bottom-1-0;
}

.margin-bottom-35{
    margin-top: $margin-bottom-4-0;
}

.margin-bottom-70{
    margin-top: $margin-bottom-7-0;
}

.width-300 {
    width: $width-300;
}

.width-inpLbl{
    width: 180px;
    margin: 0;
}

.width-50-pers{
    width: 50%;
}

.height-rec-card{
    height: $height-rec-card;
}

.color-neon-orange{
    color: $neon-luminous-orange-0;
}

.color-pale-red{
    color: $pale-red;
}

.color-neon-red{
    color: $neon-red-0;
}

.back-color-neon-red{
    background-color: $neon-luminous-red-0;
}

.back-color-neon-blue{
    background-color: $neon-blue-0-1;
}

.back-color-neon-green{
    background-color: $neon-green-0;
}

.square-50-50{
    height: 50px;
    width: 50px;
}

.text-small{
    font-size: $text-size-0;
}



.text-large{
    font-size: $text-size-2;
}

.hover-btn:hover{
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
}

.hover-btn-blue:hover{
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    box-shadow:0 0 20px $neon-blue-0-1;
}

.hover-btn-green:hover{
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    box-shadow:0 0 20px $neon-green-0;
}

.hover-btn-red:hover{
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    box-shadow:0 0 20px $neon-red-0;
}